.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.product{
    width: 250px;
    height: 250px;
    border: 1px solid red;
    margin: 15px;
}